{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10" style="font-family: 'Roboto', sans-serif;
        color: rgb(88, 88, 88);
        text-align: center;
        font-weight: 900;
        letter-spacing: 2px;
        ">
            <h1>Your Completed Tasks</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5" style="text-align: center; margin: 112px 5px;">
        <div class="col-md-10">
            <div class="list-group">
                {% for todo in todos %}
                    <a style="font-family: 'Roboto', sans-serif;
                    color: rgb(88, 88, 88);
                    letter-spacing:1.5px;
                    "
                     href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b> - Completed {{ todo.datecompleted|date:'M j Y H:i' }}</a>
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}
